.main {
  min-height: calc(100vh - var(--header-height));
  padding: 72px 0 72px;
}
.results {
  position: relative;
  margin-top: 56px;
}
.listWrap {
  position: relative;
}
.more {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
